@font-face {
    font-family: 'Code';
    font-display: swap;
    src: url('/assets/fonts/CaskaydiaMonoNerdFont-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Docs';
    font-display: swap;
    src: url('/assets/fonts/ProductSans.woff') format('woff');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}


:root {
  --vp-font-family-base: 'Docs';   /* normal text font */
  --vp-font-family-mono: 'Code';    /* code font */
}

/* Disable tap highlight color on Chrome for mobile/touch */
* {
  -webkit-tap-highlight-color: transparent;
}

